stages:
  - build
  - release
build:
  stage: build
  image: devel/rust:el7
  before_script:
    - wget https://s3.power-cloud.com/static-obj/offline-file/args_covert_rust_vendor.tgz -O offline.tgz
    - tar zxf offline.tgz
    - |
      mkdir .cargo
      cat <<EOF | tee .cargo/config.toml >/dev/null
          [source.crates-io]
          replace-with = "vendored-sources"

          [source.vendored-sources]
          directory = "vendor"
      EOF
  script:
    - cargo build --release --offline
  after_script:
    - strip -s target/release/args_covert
    - upx -9 target/release/args_covert
    - cp target/release/args_covert args-tools
    - tar zcf release.tgz args-tools
  artifacts:
    paths:
      - release.tgz
release:
  stage: release
  dependencies:
    - build
  image: tools/minio-client:latest
  before_script:
    - mc config host add minio $S3_URL $S3_ACCESS_KEY $S3_SECRET_KEY  --api s3v4
  script:
    - mc cp release.tgz "minio/object-release/gitlab/cloud-monitor/args_covert/release.tgz"
    - mc cp release.tgz "minio/object-release/gitlab/cloud-monitor/args_covert/release-$(date '+%Y%m%d%H%M%S').tgz"
