stages:
  - build
  - push
args-tools:build:
  stage: build
  image: devel/rust:el7
  before_script:
    - wget $S3_URL/object-static/offline/args-tools-rust-offline.tgz -O offline.tgz
    - tar zxf offline.tgz
    - |
      mkdir .cargo
      cat <<EOF | tee .cargo/config.toml >/dev/null
          [source.crates-io]
          replace-with = "vendored-sources"

          [source.vendored-sources]
          directory = "vendor"
      EOF
  script:
    - cargo test --offline
    - cargo build --offline
    - cargo build --release --offline
  after_script:
    - |
      strip -s target/release/args-tools
      upx -9 target/release/args-tools
      mkdir args-tools
      cp target/release/args-tools args-tools/args-tools
      cp LICENSE args-tools/
      tar zcf release.tgz args-tools
      rm args-tools/args-tools
      cp target/debug/args-tools args-tools/args-tools
      tar zcf debug.tgz args-tools
  artifacts:
    paths:
      - release.tgz
      - debug.tgz
args-tools:push:debug:
  variables:
    PUSH_PATH: /object-release/gitlab/args-tools
  stage: push
  dependencies:
    - args-tools:build
  image: tools/minio-client:latest
  before_script:
    - mc config host add minio $S3_URL $S3_ACCESS_KEY $S3_SECRET_KEY --api s3v4
  script:
    - |
      mc cp debug.tgz "minio/${PUSH_PATH}/args-tools-dev.linux-amd64.tar.gz"
      mc cp debug.tgz "minio/${PUSH_PATH}/dev/args-tools-${CI_COMMIT_SHORT_SHA}.linux-amd64.tar.gz"
args-tools:push:release:
  variables:
    PUSH_PATH: /object-release/gitlab/args-tools
  stage: push
  dependencies:
    - args-tools:build
  rules:
    - if: $CI_COMMIT_TAG
      when: never
  image: tools/minio-client:latest
  before_script:
    - mc config host add minio $S3_URL $S3_ACCESS_KEY $S3_SECRET_KEY --api s3v4
  script:
    - |
      mc cp release.tgz "minio/${PUSH_PATH}/args-tools.linux-amd64.tar.gz"
      mc cp release.tgz "minio/${PUSH_PATH}/release/args-tools-${CI_COMMIT_TAG}.linux-amd64.tar.gz"
