project:
  name: covert # 项目名称
  binary: test.sh # 可执行文件位置
  script_worker: bash # 脚本解释器
  before_script: |
    echo hello
    echo "{{ADDRESS}}"
    exit 0
  # 启动前脚本，可用于前置检查，如果脚本异常退出则视为此次启动失败
  after_script: |
    echo hello
  # 程序退出后脚本，可用于回收数据
  check_health: # 程序健康检查
    script: |
      sleep 2
      exit 1

    # 程序健康检查脚本，如果返回值不为 0 则视为出现问题
    delay: 3 # 开始检测延时
    interval: 2 # 检查间隔
    failures: 3 # 视为失败的错误次数
  check_started: # 程序启动完成检查
    script: |
      echo 启动脚本钩子检测
      exit 0
    # 程序启动检查脚本，如果返回值不为 0 则视为未启动完成
    started_script: |
      echo 启动脚本钩子执行完成
      exit 0
    # 程序启动完成钩子回调
    interval: 0 # 检查间隔
    success: 3 # 视为成功的次数
  signals: # 重启信号量
    reload: 1
    exit: 15
    kill: 9
  restart_policy: ALWAYS

args:
  - key: "ADDRESS" # 传入参数 key
    name: "地址" # 传入参数名称
    from: # 来源 key
      - address
      - ADDRESS
    mode: ARG # 参数类型
    must: true # 是否为必选
    valid_regex: "^123$" # 参数正则校验
    valid_message: "xxxx {} failed" # 参数校验错误告警
path: # 配置文件路径
  - /etc/config
  - file://{{user.dir}}/examples/test.properties
  - file://{{user.home}}
  - https://www.remote.com
log: # 日志信息
  console: # 控制台日志
    level: TRACE
  file: # 文件日志
    path: /tmp/data.log
    error_path: /tmp/data-error.log
    level: INFO
    append: true # 日志追加模式
attach: # 内部替换变量
  key: value
  port: 8080
